<?xml version='1.0' encoding='utf-8'?>
<widget id="com.redetechnologies.etrackyv2" version="3.16" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>eTrackyV2</name>
    <description>
        eTracky V2
    </description>
    <author email="support@gotracky.com" href="http://www.gotracky.com">
        eTracky v2
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-installLocation" value="auto" />
    <preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<preference name="DisallowOverscroll" value="true"/>
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qulifier="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    <icon gap:platform="ios" height="20" src="resources/ios/icons/icon-20.png" width="20" />
	<icon gap:platform="ios" height="40" src="resources/ios/icons/icon-40.png" width="40" />
	<icon gap:platform="ios" height="57" src="resources/ios/icons/icon-57.png" width="57" />
    <icon gap:platform="ios" height="60" src="resources/ios/icons/icon-60.png" width="60" />
    <icon gap:platform="ios" height="72" src="resources/ios/icons/icon-72.png" width="72" />
    <icon gap:platform="ios" height="76" src="resources/ios/icons/icon-76.png" width="76" />
    <icon gap:platform="ios" height="120" src="resources/ios/icons/icon-120.png" width="120" />
    <icon gap:platform="ios" height="180" src="resources/ios/icons/icon-180.png" width="180" />
    <icon gap:platform="ios" height="114" src="resources/ios/icons/icon-114.png" width="114" />
    <icon gap:platform="ios" height="144" src="resources/ios/icons/icon-144.png" width="144" />
    <icon gap:platform="ios" height="152" src="resources/ios/icons/icon-152.png" width="152" />
	<icon gap:platform="ios" height="1024" src="resources/ios/icons/icon-1024.png" width="1024" />
    <access origin="*" />
    <allow-intent href="file://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
