/*Theme Color =  linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1));
 Accent = rgba(0,0,0,x); Hover & focus = rgba(1,87,155,x)*/
body{
background-color: rgba(255,255,255,255) !important ;
}
.myLoaderWrap{
	/* background-color: rgba(1,87,155,1) !important; */
	background-color: rgba(1,87,155,.15) !important;
	/*background-color: rgba(255,255,255,1) !important;*/
}
	
.header_color{

	background-color: rgba(1,87,155,1) !important;
	/* filter: drop-shadow(0px 1px 2px rgba(1,87,155,.2)); */
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,.2));
	/* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important; */
	/* background: linear-gradient(to right, rgba(0,199,239,1),rgba(0,75,103,1),rgba(0,184,238,1),rgba(0,75,103,1), rgba(0,199,239,1)) !important; */
	
	/* box-shadow:0px 1px 5px rgba(1,87,155,.54); */
}
.content-header{
	/* filter: drop-shadow(0px 1px 2px rgba(0,0,0,.2)); */
}
.bottom-nav{
	background-color: rgba(255, 255, 255, .95) !important;
}
@media(min-width:768px){
.sidebar-mini.sidebar-collapse .content-wrapper{
		margin-left: 50px !important;
	}
}
@media(min-width:0px)
{
.content,.content-wrapper,html,.footerSupport,.sidebar,.main-sidebar{
	background-color:white !important;
}
}
.sidebar-toggle {
	background-color:transparent !important; 
}
.sidebar>ul {
	box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}
	
.table_header_bg_color{
	background-color: rgba(1,87,155,.15) !important;
	color: rgba(1,87,155,1) !important;
	
	/* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
	box-shadow: 0px 0px 1px rgba(1,87,155,1);
	}
.table_header_color{
	color: #ffffff;
}
.table_header_light_bg_color{
	background-color: rgba(1,87,155,0.25);
}

.selected_color{
	color: rgba(1,87,155,1) !important;
}
.selected_color:hover{
	color: rgba(1,87,155,1) !important;
	
}
.unselected_color{
	color: #9e9e9e;
}
.unselected_color:hover, .unselected_color:focus{
	color: rgba(1,87,155,1);
}

.themeBorderColor{
	border-color: rgba(1,87,155,1) !important;
}

.menu_icon_selected_color{
	color: rgba(1,87,155,1);
}
.menu_icon_color{
	color: rgba(1,87,155,1);
}
.menu_icon_color:hover{
	color: rgba(1,87,155,1);
}
.menu_group_color{
	background-color: #eeeeee;
	box-shadow:0px 0px 8px rgba(1,87,155,.54);
	border-color: #f3f3f3;
}
.menu_over_color:hover{
	background-color: rgba(1,87,155,0.15);
	font-weight:bold;
}



/*  table row colors  */

.table-row-color:nth-of-type(odd){
	background-color: rgba(0,0,0,.01);
	border-bottom: solid 0.1px rgba(0,0,0,0.05);
	/* margin-top: 15px; */
}
.table-row-color:nth-of-type(even){
	background-color: #ffffff;
	border-bottom: solid 0.1px rgba(0,0,0,0.05);
	/* margin-top: 15px; */
}


@media (max-width:768px)
{

	.table-row-color:nth-of-type(odd), .table-row-color:nth-of-type(even){
		background-color:  rgba(0,0,0,.01);
		border-bottom: 0.25px solid rgba(0,0,0,0.5);
	}
	.mRowDash{
		border-bottom: solid 0.25px rgba(0,0,0,.15);
	}
	.mSensorsTheme{
		background-color: rgba(255,255,255,1);
		border: solid 0.5px rgba(0,0,0,.05);
	}
	.mMapbtn{
		background-color:transparent;
		border-color:rgba(1,87,155,1);
		color:rgba(1,87,155,1);
		transition-delay: color,border-color,background-color 3s;
		transition-timing-function: ease-in-out;
	
	}
	.mMapbtn:hover{
		background-color:rgba(1,87,155,1);
		border-color:transparent;
		color:rgba(255,255,255,1);
		filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
	}
}
/*  table row colors end */


/*Override Footer colors*/

.footer_color{
	background-color:rgba(15, 59, 94, 0.9);
	/* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
	}
.main-footer{
	border-top:0px;
	/* box-shadow:0px -1px 8px rgba(1,87,155,.54); */
}

footer>label>a{
color:white;}
footer>label>a:hover{
color:white;
text-decoration:none;}
footer>label>a:visited{
color:white;
text-decoration:none;}



.map_bubble_color{
	background-color: rgba(1,87,155,.85);
	box-shadow:0px 0px 8px rgba(1,87,155,.54);
}

.colorTheme{
	color: rgba(1,87,155,1);
}
.colorTheme:hover{
	color: rgba(1,87,155,1);
}
.bgColorTheme{
	background-color: rgba(1,87,155,1);
}
.bgColorTheme3{
	background-color: rgba(1,87,155,.03);
}
.bgColorTheme:hover{
	background-color: rgba(1,87,155,1);
}
.blackIcons:hover{
	color: rgba(1,87,155,1) !important;
}
.blackIcons{
	transition: color 0.25s;
	transition-timing-function: ease-in
}
.borderColorTheme {
	border-color: rgba(1,87,155,1) !important;
}

/* .btn{ */
	/* background-color: rgba(1,87,155,0.54) ; */
	/* border-color:transparent !important; */
	/* box-shadow:0px 0px 10px rgba(0,0,0,0.25)!important; */
/* } */

/* .btn:hover { */
	/* background-color: rgba(1,87,155,1) ; */
/* } */

/* .btn:focus { */
	/* background-color: rgba(209, 0, 111,1) ; */
/* } */
/* .btn:active { */
	/* background-color: rgba(209, 0, 111,1) ; */
/* } */

/* Menu */


.menu_icon_color li>a>.pull-right{
	color: rgba(1,87,155,1) !important;
}
.menu_icon_color li>a:hover>.pull-right{
	color: rgba(1,87,155,1) !important;
}
.menu_icon_color>li:hover>a, .menu_icon_color>li.active>a{
	background-color: #f3f3f3 !important;
}

/* .menu_icon_color{ */
	/* box-shadow:0px 0px 3px rgba(0,0,0,0.25); */
/* } */
.menu_icon_color>li>a>i{
	box-shadow:0px 0px 3px rgba(0,0,0,0) !important; /*Override menu icon shadow transporrent*/
}
	.treeview-menu{
box-shadow:0px 0px 3px rgba(0,0,0,0.25);
}


.menu_icon_color .treeview-menu>li>a:hover{
	opacity: 1;
	background-color: rgba(1,87,155,0.25) !important;
	
}

.sidebar>ul>li>li>a{
padding-right:5px;}

.menu_icon_color .treeview-menu>li>a.mySubSelect{
	opacity: 1;
	background-color: rgba(1,87,155,0.25) !important;
}
.menu_icon_color .treeview-menu > li > a:hover{
	background-color: rgba(1,87,155,0.05) !important;
	font-weight:bold;
}

.treeview-menu > li > a{
	margin-right:5px;
}

	

.menu_icon_color a>span{
	color: #333;
}
.menu_icon_color > li > .treeview-menu{
	background: #fff !important;
}
.menu_icon_color .treeview-menu>li>a{
	color: #333 !important;
	background-color: #fff !important;
}




.custom_placeholder_color::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(1,87,155,1) !important;
}
.custom_placeholder_color::-moz-placeholder { /* Firefox 19+ */
  color: rgba(1,87,155,1) !important;
}
.custom_placeholder_color:-ms-input-placeholder { /* IE 10+ */
  color: rgba(1,87,155,1) !important;
}
.custom_placeholder_color:-moz-placeholder { /* Firefox 18- */
  color: rgba(1,87,155,1) !important;
}


.unselected_color path{
	fill: #9e9e9e !important;
}
.unselected_color:hover path{
	fill: rgba(1,87,155,1) !important;
}
.selected_color path{
	fill: rgba(1,87,155,1) !important;
}

.fix_table_header_bg_color{
	background-color: rgba(1,87,155,1) !important;
	color:white !important;
	
}
.form-group.has-success label{
color: rgba(1,87,155,1) !important;
}
.has-success .form-control{
	border-color: rgba(1,87,155,1); 
}

.form-group.has-success .form-control{
	border-color: #f3f3f3; 
}
.has-success .input-group-addon{ 
	color: rgba(1,87,155,1);
	border-color: #f3f3f3; 
	background-color: rgba(1,87,155,0.15);
	
	border-right-color: transparent;
	border-radius: 3px 0px 0px 3px;
	
}

/*Play/Pause button*/
#mapReplayButton>i{
	color: rgba(0,139,195,.54);
}
#mapReplayButton>i:active{
	color: rgba(0,139,195,1);
}
#mapReplayButton>i:hover{
	color: rgba(0,139,195,.75);
}

.cancelBtn:hover {
	text-shadow:0px 0px 5px rgba(0,0,0,0.54);
	/* width:25px; */
	/* height:25px; */
}
.loginForm input,.field__input,.loginForm input:hover {
	border: 1px solid rgba(1,87,155,1);
	color: rgba(1,87,155,1);
}

/*RangeSlider*/
input[type="range"]::-moz-range-thumb {
 background: rgba(1,87,155,1);
 border-color:transparent;
    }
input[type="range"]::-moz-range-thumb:hover {
width:30px;
height:30px;
box-shadow:0px 0px 8px rgba(1,87,155,1);
transition: background-color,box-shadow,width,height 0.01s;
transition-timing-function: ease-in;
    }
input[type="range"]::-webkit-slider-thumb {
 background: rgba(1,87,155,1);
 border-color:transparent;
 box-shadow:0px 0px 3px rgba(0,0,0,0.25);
    }
	input[type="range"]::-webkit-slider-thumb:hover {
width:30px;
height:30px;
box-shadow:0px 0px 8px rgba(1,87,155,1);
transition: background-color,box-shadow,width,height 0.01s;
transition-timing-function: ease-in;
    }

/* input[type="range"]{ */
 /* background: rgba(1,87,155,0.25); */
/* } */
/* input[type="range"]::-webkit-slider-runnable-track { */
 /* background: rgba(1,87,155,0.25); */
    /* } */
/* input[type="range"]::-moz-range-track {   */
 /* background: rgba(1,87,155,0.15); */
/* } */

/*Grid Menu*/
/* .gridMenuTheme {
    background-color: rgba(249,249,249,0.9);
    height: 150px;
	width:298px;
    border-radius: 10px;
    vertical-align: middle;
    padding-top: 45px;
    text-align: center;
	margin:5px !important;
	color:rgba(0,0,0,1);
	
}	 */
.gridMenuTheme {
    /* background-color: rgba(255,255,255,.75); */
    height: 150px;
	width:100%;
	/* border-radius: 10px; */
    vertical-align: middle;
    padding-top: 45px;
    text-align: center;
	/* margin:5px !important; */
	color:rgba(0,0,0,1);
	margin:0px !important;
	/* transition: ease-in-out; */
	
}


.gridMenuTheme:hover {
	/* background-color: rgba(1,87,155,1); */
	background-color: rgba(1,87,155,.02);
	/* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
	box-shadow:0px 0px 2px rgba(1,87,155,0.5);
	/* color:rgba(255,255,255,1) ; */
	/* transition: box-shadow,text-shadow 0.5s; */
	/* text-shadow: 1px 1px 3px rgba(255,255,255,1); */
	transition: background-color 0.4s;
	transition-timing-function: ease-in-out;
	border-radius: 3px;
	/* border: solid 0.25px rgba(1,87,155,1); */
}	
/* .gridMenuTheme_h4{ */
	/* color:rgba(1,87,155,1) !important; */
/* } */
/* .gridMenuTheme_h4:hover{ */
	/* color:rgba(255,255,255,1) !important; */
/* } */

.sidebar-menu>li>a>span{
	font-weight:bold !important;
	font-size:16px;
	border-radius:5px !important;
	box-shadow:0px 0px 5px rgba(0,0,0,0.15);
	z-index:99999;
}
.modelHeader{
	/* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
	background-color: rgba(1,87,155,1)
}
	
/* .linkHover .passwordLabel:hover{ */
/* background-color:rgba(0,0,0,0.05) !important; */
/* } */
.mapDetailsHeaderColumn_nosort{
	/* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
	background-color: rgba(1,87,155,1)
}

input[type="radio"] :checked  +label{
	background-color:rgba(29,64,117,1) !important;
	color:white !important;
	}
input[type="radio"] :checked{
	background-color:rgba(29,64,117,1) !important;
	color:white !important; 
}




/*Dashboard Search Box : Tablet & Desktop*/
@media (min-width:768px){
.searchBox>i{
	color:rgba(1,87,155,1);
}
.searchIcon{
	color:rgba(1,87,155,1);
	transition: color .75s;
}

.searchBox{
	color:rgba(1,87,155,1) !important;
	background-color:rgba(255,255,255,1) !important;
	/* border-color:rgba(1,87,155,1) !important; */
	/* border-width: 1px; */
	box-shadow:0px 0px 1px rgba(1,87,155,.5) !important;
	transition: background-color .75s;
}
.searchBox:hover+i, .searchBox:focus+i{
	background-color:rgba(1,87,155,0) !important;
	
}
.searchBox:hover{
	background-color:rgba(1,87,155,.80) !important;
	font-weight: bold;
	box-shadow:0px 0px 3px rgba(0,0,0,.25) !important;
	color:white;
}
 .searchBox:focus{
	background-color:rgba(1,87,155,1) !important;
	font-weight: bold;
	box-shadow:0px 0px 3px rgba(0,0,0,.25) !important;
	color:white;
}

.searchBox::placeholder{
	color:rgba(1,87,155,1);
}
.searchBox:hover::placeholder{
	color:rgba(255,255,255,1);
	font-weight:300;
}

}
/*Dashboard Map icon - shadow : Global*/
.d_map_icon:hover{
	filter:drop-shadow(0px 0px 5px rgba(1,87,155,.54));
}
.dropdown-menu>li:active{
	background-color:red;
}
/*Mouse selection color*/
::-moz-selection{
	color: rgba(255,255,255,1) !important;
    background: rgba(29,64,117,1) !important;
}
::selection{
	color: rgba(255,255,255,1) !important;
    background: rgba(29, 64, 117,1) !important;
}
.guageDataColor{
	color:rgba(1,87,155,1) !important;
}

.fullScreenIcon:hover, .fullScreenIcon:focus{
	filter:drop-shadow(0px 0px 5px rgba(255,255,255,1));
} 
.closeMapPop:hover, .closeMapPop:focus {
	color:rgba(244,67,54,1);
	text-shadow: 0px 0px 5px rgba(244,67,54,.75);
}
.btn-primary, .btn-info{
	background-color:rgba(1,87,155,1) !important;
}
.btn-primary:hover, .btn-info:hover{
	background-color:rgba(1,87,155,1) !important;
}
.btn-primary:focus .btn-info:focus{
	background-color:rgba(1,87,155,1) !important;
	box-shadow: inset 0 0 10px #000000 !important;
}
.searchBox::-moz-selection{
	background: rgba(255,255,255,1) !important;
    color: rgba(29,64,117,1) !important;
}
.searchBox::selection{
	background: rgba(255,255,255,1) !important;
    color: rgba(29,64,117,1) !important;
}

select>option:hover{
	background-color:rgba(1,87,155,1);
}
.modal-header{
	background-color:rgba(1,87,155,1);
	 /* background: linear-gradient(to right, rgba(1,87,155,1),rgba(1,87,155,1),rgba(29,64,117,1),rgba(1,87,155,1), rgba(1,87,155,1)) !important; */
color:rgba(255,255,255,1);
}
.modal-footer>button{
	background-color:rgba(1,87,155,1);
color:rgba(255,255,255,1);
}
.modal-footer>button:hover{
	background-color:rgba(1,87,155,.85);
color:rgba(255,255,255,1);
}

@media(max-width:767px)
{
	.searchBox{
		color: #01579b !important;
	}
}

@media(min-width:425px)
{
.d_table_scroll{
	padding-top:20px;
}
.dashboard_header_static{
	height:55px;
	font-weight:bold;
	border:none;
	width:93% !important;
}
}
@media(min-width:0px)
{
	.footer-support{
background-color:white !important;
	}
	.menu-backdrop,.content,.wrapper{
		background-color:white !important;
	}
	
	}
	
@media (min-width:0px) and (max-width:450px)
{
	
	.mExpiryColor{
		background-color:rgba(1,87,155,0.05); 
		color:rgba(1,87,155,1);
	}
}

.menuSubText {
	color:rgba(1,87,155,1) !important;
}

/*Grid Menu Contents*/ 

.gridMenuName {
	color: rgba(1,87,155,1) !important;
}

.feature-box:hover>h4 {
	color: rgba(255,255,255,1);
}

.feature-box:hover>img{
	
	filter: brightness(2000%);
}

.feature-box>img{
	
	filter: brightness(75%);
}

/*Grid Menu Icons*/

.icon-hue{
	filter: hue-rotate(0deg);
}

.grid-m-vehicle {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/m_vehicleMap.svg');
}

.grid-m-vehicle : after {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/m_vehicleMap.svg');
}

.grid-m-group {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/m_fleetMap.svg');
}

.grid-r-detail {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_detailedReport.svg');
}

.grid-r-summary {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_groupSummaryReport.svg');
}

.grid-r-performance{
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_performanceReport.svg');
}

.grid-r-devicePerformanceReport {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_performanceReport.svg');
}

.grid-r-driverPerformanceReport {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_driverPerformanceReport.svg');
}

.grid-r-distance {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_distanceReport.svg');
}

.grid-r-ignition {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_ignitionReport.svg');
}

.grid-r-geozone {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_geozoneReport.svg');
}

.grid-r-ac {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_acReport.svg');
}

.grid-r-alertReport {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_alertReport.svg');
}

.grid-r-deviceMsg {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/r_deviceMessageReport.svg');
}

.grid-c-speed {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/c_speedChart.svg');
}

.grid-c-fuel {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/c_fuelChart.svg');
}

.grid-c-temperature {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/c_temperatureChart.svg');
}

.grid-a-account {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_accountAdmin.svg');
}

.grid-a-user {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_userAdmin.svg');
}

.grid-a-vehicle {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_vehicleAdmin.svg');
}

.grid-group {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_vehicleGroupAdmin.svg');
}

.grid-a-driver {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_driverAdmin.svg');
}

.grid-a-vehicleMaintenance {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_maintenanceAdmin.svg');
}

.grid-a-vehicleService {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_serviceAdmin.svg');
}

.grid-a-alert {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_alertAdmin.svg');
}

.grid-a-geozone {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_geozoneAdmin.svg');
}

.grid-a-geoRoute {
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_georouteAdmin.svg');
}

.grid-a-alertsTemplate{
	content: url('../assets/images/grid-menu-icons/brilliantBlue/a_alertsTemplateAdmin.svg');
}


/*Alert Message Template*/
.alerts-list-items:hover {
	background-color: rgba(1,87,155,0.1);
}
.alerts-list-items:active {
	background-color: rgba(1,87,155,.3);
	color: black;
}
.alerts-list-items i {
	color: rgba(1,87,155,1);
}
.alerts-list-items:active i{
	/* background-color: rgba(1,87,155,1); */
	/* color: white; */
}
trix-toolbar .button_group button:hover, trix-toolbar .button_group input[type=button]:hover{
	background-color: rgba(1,87,155,.3);                   
}

@media (max-width:768px){	
.bottom-nav-icon{
  color: rgba(1,87,155,1) !important;
}
}